{% extends "dashboard/dashboard_base.html" %} {% load static %} {% block main %}
<div class="container mt-5">
  <!-- Cards -->
  <div class="row mb-4">
    <div class="col-lg-3 col-md-6">
      <div class="card text-white bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title">Registed Cars</h5>
          <h1>{{ total_cars }}</h1>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card text-white bg-info mb-3">
        <div class="card-body">
          <h5 class="card-title">System Users</h5>
          <h1>{{ total_users}}</h1>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card text-white bg-success mb-3">
        <div class="card-body">
          <h5 class="card-title">Drives</h5>
          <h1>{{total_cars}}</h1>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card text-white bg-danger mb-3">
        <div class="card-body">
          <h5 class="card-title">Accidents</h5>
          <h1>{{ total_accidents}}</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- Charts -->
  <div class="row">
    <!-- Area Chart -->
    <div class="col-lg-6 mb-4">
      <div class="card shadow-sm border-0">
        <div class="card-header bg-primary text-white text-center">
          <h5 class="mb-0">Car Overview</h5>
        </div>
        <div class="card-body bg-light">
          <canvas id="areaChart"></canvas>
        </div>
      </div>
    </div>
    <!-- Bar Chart -->
    <div class="col-lg-6 mb-4">
      <div class="card shadow-sm border-0">
        <div class="card-header bg-danger text-white text-center">
          <h5 class="mb-0">Accident Detected</h5>
        </div>
        <div class="card-body bg-light">
          <canvas id="barChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
